html * {
    font-weight: 200;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body header {
    display: flex;
    align-items: center;
}

/* body .nav {
    display: flex;
} */

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
}

body .logo {
    font-weight: 600;
    flex: 1;
}

body div.container {
    flex: 1;
}

body .ad {
    height: 300px;
    width: 100%;
    border: 1px solid black;
}

footer {
    text-align: center;
}